.card-container {
  margin: 0 2rem;
  width: 95vw;
  display: flex;
  
  &-recipe {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.card {
  background-color: $green;
  display: flex;
  border-radius: 0.7rem;
  transition: all 0.2s ease-in-out;
  padding: 0.7rem;

  &:hover {
    box-shadow: 0 5px 15px rgba(145, 92, 182, .5);
  }
  
  .title {
    color: $dark-blue;
  }
  
  &-recipe {
    margin: 1.5rem;
    width: 15rem;
    height: auto;
    // justify-content: center;
  }
}