.template .username {
  color: $orange;
  text-align: right;
  margin-right: 1rem;
  margin-top: 1rem;
}

nav {
  background-color: $dark-blue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 99;

  h1 {
    color: $orange;
    cursor: pointer;

    &:hover {
      color: $yellow;
    }
  }

  .left-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;

    svg {
      margin-left: 1rem;
      margin-right: 3rem;
      cursor: pointer;
    }
  }

  .right-navbar {
    margin-right: 2rem;
  }
}