$blue: #19ABFF;
$red: #D70010;
$green: #CCE0BB;
$pink: #F3A9CA;
$yellow: #FFC148;
$purple: #94B3EA;
$orange: #FAA883;

$light-orange: #e2b477;

$dark-blue: #286bb8;
$dark-red: #ff1938;
$dark-green:#86c281;
$dark-yellow: #ffe019;
$dark-purple: #6d19ff;
$dark-orange: #ff6d19;

$darker-blue: #093568;